* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* TYPOGRAPHY */

h1,
.desc,
label {
  color: #242742;
}

h1,
.desc {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
}

.desc,
li p,
label,
input,
button {
  line-height: 150%;
}

ul,
li p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

label {
  font-size: 0.75rem;
  font-weight: 700;
}

input,
button {
  font-size: 1rem;
}

input {
  padding: 1rem 1.5rem;
  border: 1px solid #949494;
  border-radius: 8px;
  color: #949494;
}

button {
  background-color: #242742;
  color: #fff;
  padding: 1rem 3rem;
  border: none;
  border-radius: 8px;
}

/* ACTIVE STATES */

input:focus,
input:active {
  border: 1px solid #242742;
  outline: none;
  color: #242742;
  cursor: pointer;
}

/* IMAGES */

.img {
  width: 100%;
}

/* LAYOUT */

.newsletter {
  padding: 2.5rem 1.5rem 2.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.newsletter-content,
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  display: flex;
  gap: 1rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

/* MEDIA QUERIES */

/* TABLET */

@media (min-width: 768px) {
  /* TYPOGRAPHY */

  body {
    background-color: #36384d;
  }

  .newsletter-container {
    background-color: #fff;
  }

  h1 {
    font-size: 3.5rem;
  }

  /* IMAGES */

  .img {
    margin-bottom: 2.5rem;
  }

  /* LAYOUT */

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .newsletter-container {
    width: 38rem;
    padding: 2.5rem;
    border: 1px solid #151515;
    border-radius: 2.25rem;
  }

  .newsletter {
    padding: 0;
    gap: 1.5rem;
  }

  form {
    gap: 1rem;
  }
}

/* DESKTOP */

@media (min-width: 1440px) {
  /* ACTIVE STATES */

  button:focus,
  button:active,
  button:hover {
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg, #ff6a3a 0%, #ff527b 100%);
  }

  /* IMAGES */

  .img {
    margin-bottom: 0;
  }

  /* LAYOUT */

  .newsletter-container {
    width: 56.5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
  }

  .newsletter {
    order: -1;
    width: 23.5rem;
    justify-content: center;
    gap: 2rem;
  }

  .newsletter-content {
    gap: 2rem;
  }

  form {
    gap: 1.5rem;
  }
}

/* .attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
